@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background: linear-gradient(
    180deg,
    #00dcc9 -61.54%,
    rgba(0, 220, 201, 0) 142.09%
  );
}

.hero-bg {
  background-image: url("../assets/images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner {
  background-image: url("../assets/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-shadow-sm {
  text-shadow: 2px 1px #000;
}

@layer components {
  .card-zoom {
    @apply relative flex items-center justify-center overflow-hidden shadow-xl md:cursor-pointer;
  }

  .card-zoom-image {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
  }

  .card-zoom-text {
    @apply absolute text-lg bottom-0 left-5 transition-all duration-500 ease-in-out transform;
  }

  .card-zoom:hover .card-zoom-image {
    @apply scale-125;
  }

  .catalog-letter {
    @apply text-sm font-bold px-3 py-2 bg-primary rounded-sm md:hover:scale-105 ease-out duration-150 md:active:scale-75 md:hover:text-white md:cursor-pointer md:hover:bg-[#005750];
  }

  .catalog-services {
    @apply font-bold text-sm md:cursor-pointer md:active:scale-75 duration-200 text-center py-3 px-20 bg-[#394B57] rounded-full text-white;
  }

  .test-name {
    @apply text-sm border border-primary shadow-xl font-bold text-left w-full md:w-2/3  mx-auto bg-white text-black py-3 px-2 rounded-sm;
  }
}
