@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@keyframes bottomright {
  0% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  25% {
    width: 100%;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  50% {
    height: 100%;
    width: 100%;
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes revbottomright {
  0% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  25% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  50% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  75% {
    width: 100%;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  100% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: hidden;
  }
}

@keyframes topleft {
  0% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  25% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  75% {
    width: 100%;
    height: 0;
    padding-bottom: 0;
    visibility: visible;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes revtopleft {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  25% {
    width: 100%;
    height: 0;
    padding-bottom: 0;
    visibility: visible;
  }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  75% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  100% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
}

.draw-border {
  transition: color 0.75s ease-in-out;
  padding: 1.5rem;
  position: relative;
  -moz-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
    5 round;
  -webkit-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
    5 round;
  -o-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
    5 round;
  border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
    5 round;
}

.draw-border:hover {
  color: #333;
  transition: color 0.75s ease-in-out;
}

.draw-border:after {
  content: "";
  position: absolute;
  bottom: 0px;
  padding-right: 5px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #333;
  border-right: 5px solid #333;
  visibility: hidden;
}

.draw-border:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 5px;
  width: 100%;
  height: 100%;
  border-top: 5px solid #333;
  border-left: 5px solid #333;
  visibility: hidden;
}

.draw-border:hover:before {
  animation: topleft 0.5s ease-in-out forwards;
}

.draw-border:hover:after {
  animation: bottomright 0.5s ease-in-out forwards;
}

.draw-border.active:before {
  animation: revtopleft 0.5s ease-in-out forwards;
}

.draw-border.active:after {
  animation: revbottomright 0.5s ease-in-out forwards;
}

.draw-border.active:before,
.draw-border.active:after {
  width: 100%;
  height: 100%;
  visibility: visible;
}

.draw-border.temp:before,
.draw-border.temp:after {
  width: 100%;
  height: 100%;
  visibility: visible;
}
